@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Indie+Flower&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.container{
    width: 80%;
    margin: auto;
    background-color: rgb(175, 191, 206);
    padding: 0px;
}

.cabecera{
    display: flex;
    background-color: rgb(71, 5, 5);
    width: 100%;
    justify-content: center;
}

.cabecera h1{
    margin-top: 60px;
    color: rgb(175, 191, 206);
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 70px;
}

.info{
    width: 90%;
    margin: auto;
}

.autor{
    display: flex;
    height: 25vw;
    background-color: rgb(175, 191, 206);
    padding-top: 15px;
    gap:20px;
}

.imagen{
    background-image: url(images/asimov.jpeg);
    width: 30%;
    height: inherit;
    background-size: cover;
    background-position: top;
    border-radius: 20px;
    
}
article{
    width: 65%;
    padding: 20px;
    /* overflow: hidden;  Esto es para que no puedas ver el texto que sobresale de la caja*/
    overflow: auto;    /*Esto me pone una barra para desplazar si el texto se sale del div*/
}

article h1{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(71, 5, 5);
}

article p{

    line-height: 28px;
    font-size: 20sspx;
    text-align: justify;
}

blockquote{
    font-family: "Playwrite IT Moderna", cursive;
    color: rgb(71, 5, 5);
    font-size: 20px;
    border-left: 3px solid rgb(68, 13, 13);
    padding-left: 10px;
    text-align: center;
}

#robot{
    width: 70px;
}

.leyes{
    padding-top: 15px;
    display: flex;
    margin: auto;
    text-align: center;
}

.leyes h1{
    color: rgb(175, 191, 206);
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 30px;
    /* margin-top: 5px; */
}

.leyes p{
    color: rgb(175, 191, 206);
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

.contenedorLey img{
    height: 15vw;
    background-size: cover; 
    background-position: top;
}

.ley1{
    border-radius: 20px;
    width: 33%;
    background-color: rgb(71, 5, 5);
    margin-right: 10px;
}


.ley2{
    border-radius: 20px;
    width: 33%;
    background-color: rgb(71, 5, 5);
    margin-right: 10px;
}

.ley3{
    border-radius: 20px;
    width: 33%;
    background-color: rgb(71, 5, 5);
}
