*{
    margin: 0px;
    padding: 0px;
}

.encabezado{
    background-color: rgb(16, 49, 92);
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

h1{
    color: rgb(255, 255, 255);
}

.container{
    height: 45%;
    width: 45%;
    background-color: rgb(197, 197, 197);
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.celda{
    width: 120px;
    height: 120px;
    background-color: rgb(76, 74, 78);
    background-image: url(images/bomba2.png);
    padding: 20px;
    margin: 50px;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
}

.celda:hover{
    background-image: url(images/bombaEncabezado.png);
    scale: 1.3;
    transition: .5s;
    box-shadow: 10px 10px 100px rgb(92, 2, 17);
}

#winner:hover{
    background-image: url(images/youWin.jpg);
    box-shadow: 10px 10px 100px rgb(93, 214, 23);
    transition: 0.5s;
}