h1{
    font-size: 100px;
    text-align: center;
    color:rgb(131, 23, 23);
}
p{
    text-align: justify;
    width: 400;
    font-size: 30px;
    column-count: 3;
    column-gap: 80px;
    column-rule: 3px  dotted #c51919;
    padding: 15px;;
    column-rule: 3px dashed #c51919;

}
span{
    color: rgb(25, 87, 221);
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #dddddd;
    width: 95%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 10px;
  }
  .center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
   }
.container2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
    height: 20%;
   }
h2{
    font-size: 80px;
    text-align: center;
}
.text{
    color: #db2e10b9;
    text-align: center;
}

.teddy{
    float: right;
    width: 40%;
}
  div{
margin: 20px;
}
.footer{
  background-color: rgb(136, 33, 15);
  display: flex;
}
.names{
  background-color:rgb(136, 33, 15);
  width: 30%;
  text-align: center;
}
h3{
  color: white;
}
.imagen-texto{
  background-image: url(images/musica.jpeg);
  width: 100%;
  height: 150px;
  background-position: center;
  margin: 0px;
}
.menu li{
  height: 100%;
  text-decoration: none;
  margin-right: 8%;
  margin-left: 8%
}
.mainContainer{
  width: 80%;
  margin: auto;
  place-items: center;
}
.listas{
  justify-content: center;
}
.listas li{
 margin-right: 20px;
 vertical-align: middle;
}
