h1{
    font-size: 100px;
    text-align: center;
    color: rgb(201, 51, 25);
}
p{
    text-align: center;
    width: 400;
    font-size: 30px;
}
span{
    color: green;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 10px;
  }
  .center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   .container2{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
h2{
    font-size: 80px;
    text-align: center;
    width: 60%;
}
.text{
    color: #db2e10b9;
    text-align: center;
}
.container2{
    display: grid;
    align-items: right; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    width: 50%;
}
.teddy{
    float: right;
    width: 40%;
}


